@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 224, 224, 224;
  --background-start-rgb: 26, 26, 26;
  --background-end-rgb: 26, 26, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 6px;
  border: 3px solid #111111;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #111111;
}